<h2><%= t('dri.views.collection.new.title') %></h2>
<div class="dri_ingest_form_container">
  <div class="dri_ingest_form">
	<%= form_for @object, as: :batch, :url => {:controller=>"collections", :action=>"create"}, :method=>"post", :html => {:class => 'form-vertical'} do |f| %>

	<%= render :partial => "shared/form_metadata_qualifieddublincore", :locals => { :f => f, :action => "update" } %>
    <%= render :partial => "shared/form_licence_field", :locals => { :f => f, :action => "update" } %>

    <div class="dri_access_controls">
      <legend>
        <%= t('dri.views.objects.legends.access_control') %>
      </legend>
    </div>

	<%= render :partial => "shared/access_controls", :locals => {:f => f,:record => @object } %>

	<div class="checkbox">
		<label>
			<input name="deposit" id="deposit" required type="checkbox" />
			<span> <%= link_to t('dri.application.terms.deposit_agreement'), main_app.page_path('deposit_terms'), :id => "deposit_agreement", :target => "_blank"%> </span> </label>
	</div>

	<%= f.submit t('dri.views.collection.buttons.create_collection'), :class => "dri_button_green dri_w330", :id => "create_new_collection" %>

	<% end %>
	<%= form_for @object, as: :batch, :url => {:controller=>"collections", :action=>"create"}, :method=>"post", :html => {:class => 'dri_ingest_form'} do |f| %>
	<%= f.submit t('dri.views.objects.buttons.cancel'), :class => "dri_button_grey dri_w330", :id => "cancel_collection" %>
	<% end %>
  </div>
</div>
