<%= render :partial => "user_group/shared/header" %>

<%= form_for(@user) do |f| %>
    <%= render 'user_group/shared/error_messages', object: f.object %>
    <%= render partial: "user_group/shared/header" %>

    <% allowed_edit = user_signed_in? && ( current_user.id == @user.id || current_user.is_admin? ) %>

    <div  class="dri_account_block dri_clearfix">
      <h4 class="dri_account_block_heading"><%= t('dri.application.edit_user_profile.edit_account') %></h4>
      <div class="dri_account_block_info">
        <h5><%= t('dri.application.user_profile.email') %></h5>
        <p>
          <%= @user.email %>
        </p>

        <h5><%= f.label :first_name, (t :'dri.application.edit_user_profile.first_name') %></h5>
        <p>
          <%= f.text_field :first_name %>
        </p>
        <h5><%= f.label :second_name, (t :'dri.application.edit_user_profile.last_name') %></h5>
        <p>
          <%= f.text_field :second_name %>
        </p>
      </div>
    </div>

    <div  class="dri_account_block dri_clearfix">
      <h4 class="dri_account_block_heading"><%= t('dri.application.edit_user_profile.change_password') %></h4>
      <div class="dri_account_block_info">
        <% if current_user.id == @user.id or !current_user.is_admin? %>
            <h5><%= f.label :current_password, (t :'dri.application.edit_user_profile.current_password') %></h5>
            <p>
              <%= f.password_field :current_password, :disabled => @user.password_required? ? false : true %>
            </p>
        <% end %>
        <h5><%= f.label :password, (t :'dri.application.edit_user_profile.new_password') %></h5>
        <p>
          <%= f.password_field :password, :disabled => @user.password_required? ? false : true %>
        </p>
        <h5><%= f.label :password_confirmation, (t :'dri.application.edit_user_profile.confirm_new_password') %></h5>
        <p>
          <%= f.password_field :password_confirmation, :disabled => @user.password_required? ? false : true %>
        </p>
      </div>
    </div>
    <!-- not functional - needs the setting to be stored on the user data model-->
    <!-- hide for July UAT 
    <div  class="dri_account_block dri_clearfix">
      <h4 class="dri_account_block_heading"><%= t('dri.application.edit_user_profile.settings') %></h4>
      <div class="dri_account_block_info">
        <h5><%= t ('dri.application.edit_user_profile.help_bubbles') %></h5>

        <input type="checkbox" name="dri_slider_checkbox" data-size="mini" data-on-text="<%= t('dri.application.edit_user_profile.on_text') %>" data-off-text="<%= t('dri.application.edit_user_profile.off_text') %>"checked>

      </div>
    </div> -->

    <!--TO BE CHANGED placeholder for real functionality when it is developed-->
    <% collection_data = collection_permission(@user) %>
    <% if (collection_data != "") %>
        <div class="dri_account_block dri_clearfix">
          <h4 class="dri_account_block_heading"><%= t('dri.application.user_profile.your_collection_details') %></h4>
          <div class="dri_account_block_info">
            <% collection_data.each_with_index do |collection, i| %>
                <div class="dri_account_block_info_item">
                  <h5><%= "#{t('dri.application.user_profile.collection_title')} #{i + 1}" %></h5>
                  <p>
                    <%= collection[:collection_title] %>
                  </p>
                  <h5><%= t('dri.application.user_profile.user_type') %></h5>
                  <p>
                    <%= collection[:permission] %>
                  </p>
                  <% if (i == 1) %>
                      <%= link_to t('dri.application.edit_user_profile.requested_to_leave'), '#' %>
                  <% else %>
                      <%= link_to '#' do %>
                          <%= t('dri.application.edit_user_profile.request_to_leave') %>
                      <% end %>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>

    <% if allowed_edit %>
        <div class="dri_account_block dri_clearfix">
          <div class="dri_account_block_info_buttons dri_float_right">
            <%= link_to(@user, :id => "back_to_account", :class => "btn btn-small dri_w230") do %>
                  <%= t ('dri.application.edit_user_profile.cancel') %>
            <% end %>
            <%= f.submit (t :'user_groups.views.shared.update'), :id => "commit", :class => "dri_button_green dri_w230"%>
            <% if current_user.is_admin? %>
                <%= link_to(@user, method: :delete, confirm: (t :'user_groups.views.shared.confirm'), :id => "cancel_account") do %>
                    <button class="dri_button_black dri_w230">
                      <%= t :'user_groups.views.users.edit.delete' %>
                    </button>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>

<% end %>

<% if current_user.is_admin? %>
    <div class="dri_account_block dri_noborder dri_clearfix">
      <h4 class="dri_account_block_heading"><%= (t :'user_groups.views.shared.group_membership')%></h4>
      <div class="dri_account_block_info">
        <h5 class="no_bottom_margin"><%= (t :'user_groups.views.shared.cancel') %></h5>
        <%= render 'user_group/shared/leave_groups', object: @user %>
        <% if @user.pending_memberships.count > 0 %>
            <h5 class="no_bottom_margin"><%= (t :'user_groups.views.shared.pending') %></h5>
            <%= render 'user_group/shared/pending_groups', object: @user %>
        <% end %>
        <h5 class="no_bottom_margin"><%= (t :'user_groups.views.shared.add') %></h5>
        <%= render 'user_group/shared/join_groups', object: @user %>
      </div>
    </div>
<% end %>

