<%= render partial: "user_group/shared/header" %>

<% allowed_edit = user_signed_in? && ( current_user.id == @user.id || current_user.is_admin? ) %>

<div  class="dri_account_block dri_clearfix">
	<h4 class="dri_account_block_heading"><%= t('dri.application.user_profile.my_account') %></h4>
	<div class="dri_account_block_info">
		<h5><%= t('dri.application.user_profile.email') %></h5>
		<p>
			<%= @user.email %>
		</p>

		<h5><%= t('dri.application.user_profile.name') %></h5>
		<p>
			<%= @user.first_name %>&nbsp;<%= @user.second_name %>
		</p>
 
                <% if @user.groups.size > 1 || @user.is_admin? %>
                  <h5><%= t('dri.application.user_profile.user_type') %></h5>
                  <% if @user.is_admin? %>
                    <p><%= t('dri.application.user_profile.administrator') %></p>
                  <% else %>
                    <% @user.groups.each do |group| %>
                      <% next if group.name == SETTING_GROUP_DEFAULT %>
                      <% if group.name == SETTING_GROUP_CM %>
                          <p><%= t('dri.application.user_profile.collection_manager') %></p>
                       <% end %>
                      <% if group.name == SETTING_GROUP_OM %>
                          <p><%= t('dri.application.user_profile.organisational_manager') %></p>
                       <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                  
     <% unless @user.authentication_token.blank? %>
        <p>
        <div>
         <%=  (t :'user_groups.views.shared.token')  %><br />
         <%= @user.authentication_token %>

         <p><%= t :'user_groups.views.users.show.token_sign_in' %><br />
         <%= link_to request.env["HTTP_HOST"] + "#{root_path(:user_token => @user.authentication_token, :user_email => @user.email)}", root_path(:user_token => @user.authentication_token, :user_email => @user.email)  %></p>

         <% if SETTING_PROFILE_TOKEN_EXPIRY_DAYS == 0 %>
             <% expiry_date = t :'user_groups.views.users.show.never' %>
         <% elsif @user.token_expired? %>
             <% expiry_date = t :'user_groups.views.users.show.expired' %>
         <% else %>
             <% expiry_date = (@user.token_creation_date.to_date+SETTING_PROFILE_TOKEN_EXPIRY_DAYS).to_s %>
         <% end %>
         <%= (t :'user_groups.views.users.show.expiry') %><%= expiry_date %><br />
         <%= (t :'user_groups.views.shared.created') %><%= @user.token_creation_date.to_s %><br />
       </div>
       </p>
     <% end %>


	</div>
</div>

<!--TO BE CHANGED placeholder for real functionality when it is developed-->
    <% collection_data = collection_permission(@user) %>
    <% unless collection_data.blank? %>
    <div class="dri_account_block dri_clearfix">

	<h4 class="dri_account_block_heading"><%= t('dri.application.user_profile.your_collection_details') %></h4>
	<div class="dri_account_block_info">
		<% collection_data.each_with_index do |collection, i| %>
		<div class="dri_account_block_info_item">
			<h5><%= "#{t('dri.application.user_profile.collection_title')} #{i + 1}" %></h5>
			<p>
				<%= collection[:collection_title] %>
			</p>
			<h5><%= t('dri.application.user_profile.user_type') %></h5>
			<p>
				<%= collection[:permission] %>
			</p>
		</div>

		<% end %>
	</div>
</div>
<% end %>


<% if allowed_edit %>
<div class="dri_account_block dri_clearfix dri_noborder dri_float_right">


	    <div class="dri_account_block_info_buttons dri_float_right">
	        		<%= link_to user_group.edit_user_path(@user), :id => "edit_account" do %>
		<button class="dri_button_green dri_w230">
			<%= t('dri.application.user_profile.edit') %>
		</button>
		<% end %>
	    </div>


</div>
<% end %>

