<% institute_browse_params = { :mode => "collections", :search_field => "all_fields", :view => "grid", :f => {} } %>
<% style='' %>
<% @institutes.each_with_index do |institute, i| %>
    <% style='not_first' unless i.eql?(0) %>
    <% collection_count = get_institute_collection_counts institute[:name].to_s.html_safe %>
    <div class="dri_collection_institutes_pages <%= style %>">
      <% institute_browse_params[:f] = { Solrizer.solr_name('institute', :facetable, type: :string).to_sym => [institute[:name].to_s.html_safe] } %>
      <%= link_to main_app.catalog_index_path(institute_browse_params) do %>
          <div class="dri_collection_institutes_pages_img">
            <%= image_tag institute[:logo], alt: institute[:name].to_s.html_safe unless institute[:logo].blank? %>
            <h6>
              <%= institute[:name].to_s.html_safe %>
            </h6>
            <% if signed_in? && current_user.is_admin? %>
              <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_organisation_path(institute) %>
              <%= link_to '<i class="fa fa-times-circle"></i>'.html_safe, organisation_path(institute), method: :delete %>
            <% end %>
          </div>
          <div class="dri_collection_institutes_pages_text" >
            <ul>
              <% if (collection_count > 0) %>
                  <% collections = get_collections_institute institute[:name].to_s.html_safe %>
                  <% collections.each_with_index do |collection, index| %>
                      <% if index < 3 %>
                          <% collection = collection.symbolize_keys! %>
                          <% image = cover_image collection %>
                          <% unless image.nil? %>
                              <li><%= image_tag image, :width=>"150" %></li>
                          <% else %>
                              <li><%= image_tag "no_image.png", :width=>"150" %></li>
                          <% end %>
                      <% end %>
                  <% end %>
              <% end %>
            </ul>
            <p>
              <%= t('dri.headerlinks.collections') %>
              <span class="dri_bold_text">
                <%= "(#{collection_count})" %>
              </span>
            </p>
          </div>
      <% end %>
    </div>
<% end %>
