<div class="dri_collection_institutes_item">
    <%= @inst.name %>
    <%= @inst.url %>

   <%if @inst.logo.blank? && @inst.url.blank? %>
     <%= @inst.name %>
   <% elsif @inst.logo.blank? && !@inst.url.blank? %>
     <%= link_to @inst.name, @inst.url, :target => "_blank" %>
   <% elsif !@inst.logo.blank? && @inst.url.blank? %>
     <%= image_tag @inst.logo, :height => "75px" %>
   <% else %>
     <%= link_to image_tag(@inst.logo, :height => "75px"), @inst.url, :target => "_blank" %>
   <% end %>
</div>
