<% inherit_disabled = record.root_collection? ? true : false %>
<% allow_manage = (record.collection? && record.new_record?) ? true : false %>

<script type="text/javascript">
    function ImprovedTextBox(textbox_str){
        this.textbox = $(textbox_str);
        this.last_tb_value;
        this.catch_tb_value();
    }

    ImprovedTextBox.prototype.catch_tb_value = function(){
        this.last_tb_value = this.textbox.val();
    };

    ImprovedTextBox.prototype.hide = function(){
        this.textbox.hide();
    };

    ImprovedTextBox.prototype.show = function(){
        this.textbox.show();
    };

    ImprovedTextBox.prototype.value = function(){
        return this.textbox.val();
    };

    ImprovedTextBox.prototype.val = function(text){
        this.textbox.val(text);
    };

    ImprovedTextBox.prototype.restore_previous_value = function(){
        this.textbox.val(this.last_tb_value);
    };

    ImprovedTextBox.prototype.add_user_string = function(text){
        //comma followed by spaces, then text then spaces and final comma
        var regex_contains = new RegExp(",\\s*" + text + "\\s*,");
        var regex_start = new RegExp("^\\s*" + text + "\\s*,?\\s*");

        if(!this.textbox.val().match(regex_contains) && !this.textbox.val().match(regex_start)){
            this.textbox.val(text+", "+this.textbox.val());
        }
    };

    var public_str = "public";
    var registered_str = "registered";
    var empty_str = "";

    var model_str;
    var read_user_textbox;
    var read_group_textbox;

    var edit_user_textbox;
    var edit_group_textbox;

    var manager_user_textbox;
    var manager_group_textbox;

    var embargo_textbox;
    var inherit_disabled = <%= inherit_disabled %>

    $(document).ready(function () {

        model_str = "batch";

        discover_user_textbox = new ImprovedTextBox('#batch_discover_users_string');
        discover_group_textbox = new ImprovedTextBox('#batch_discover_groups_string');
        init_search_access();

        read_user_textbox = new ImprovedTextBox('#batch_read_users_string');
        read_group_textbox = new ImprovedTextBox('#batch_read_groups_string');
        init_read_access();

        edit_user_textbox = new ImprovedTextBox('#batch_edit_users_string');
        edit_group_textbox = new ImprovedTextBox('#batch_edit_groups_string');
        init_edit_access();

        manager_user_textbox = new ImprovedTextBox('#batch_manager_users_string');
        manager_group_textbox = new ImprovedTextBox('#batch_manager_groups_string');
        init_manager_access();

        embargo_textbox = new ImprovedTextBox('#batch_embargo');
        init_embargo();
    });

    function init_search_access(){
        //search_field_toggle();
    }

    function init_read_access(){
        var original_value_user = read_user_textbox.value();
        var original_value_group = read_group_textbox.value();

        read_toggle_show_textboxes(false);
        if(original_value_user!=empty_str){
            //Know its restricted without checking for public/registered
            $('#'+model_str+'_read_groups_string_radio_restricted').prop('checked', true);
            read_toggle_show_textboxes(true);
        }else{
            if((original_value_group==empty_str) && (!inherit_disabled)){
                $('#'+model_str+'_read_groups_string_radio_inherit').prop('checked', true);
            }else if(original_value_group==public_str){
                $('#'+model_str+'_read_groups_string_radio_public').prop('checked', true);
            }else if(original_value_group==registered_str){
                $('#'+model_str+'_read_groups_string_radio_logged').prop('checked', true);
            }else{
                $('#'+model_str+'_read_groups_string_radio_restricted').prop('checked', true);
                read_toggle_show_textboxes(true);
            }
        }
    }

    function init_edit_access(){
        var original_value_user = edit_user_textbox.value();
        var original_value_group = edit_group_textbox.value();

        if(original_value_user!=empty_str || inherit_disabled){
            $('#'+model_str+'_edit_users_string_radio_restricted').prop('checked', true);
            edit_toggle_show_textboxes(true);
        }else{
            edit_toggle_show_textboxes(false);
            $('#'+model_str+'_edit_users_string_radio_inherit').prop('checked', true);
        }
    }

    function init_manager_access(){
        var original_value_user = manager_user_textbox.value();
        var original_value_group = manager_group_textbox.value();

        if (typeof(batch_manager_users_string_radio_restricted)!='undefined'){
            if(original_value_user!=empty_str || inherit_disabled){
                $('#'+model_str+'_manager_users_string_radio_restricted').prop('checked', true);
                manager_toggle_show_textboxes(true);
            }else{
                manager_toggle_show_textboxes(false);
                $('#'+model_str+'_manager_users_string_radio_inherit').prop('checked', true);
            }
        }
    }

    function init_embargo(){
        var value = embargo_textbox.value();

        if(value==empty_str){
            $('#'+model_str+'_embargo_radio_inherit').prop('checked', true);
            embargo_toggle_show_textbox(false);
        }else{
            $('#'+model_str+'_embargo_radio_restricted').prop('checked', true);
            embargo_toggle_show_textbox(true);
        }
    }

    function read_field_toggle(){
        var val = $('input[name="'+model_str+'[read_groups_string]"]:checked').val();
        if(val=="radio_inherit"){
            read_group_textbox.val("");
            read_user_textbox.val("");
            read_toggle_show_textboxes(false);
        }else if(val=="radio_logged"){
            read_group_textbox.val(registered_str);
            read_user_textbox.val("");
            read_toggle_show_textboxes(false);
            alert("<%= t('dri.views.objects.access_controls.alert') %>");
        }else if(val=="radio_public"){
            read_group_textbox.val(public_str);
            read_user_textbox.val("");
            read_toggle_show_textboxes(false);
        }else if(val=="radio_restricted"){
            read_toggle_show_textboxes(true);
            if(read_group_textbox.val()==registered_str || read_group_textbox.val()==public_str){
                read_group_textbox.val("");
            }
            $('#'+model_str+'_read_groups').show();
            alert("<%= t('dri.views.objects.access_controls.alert') %>");
        }else{
            console.log("Unknown textbox selected: read_field -"+val);
        }
    }

    function edit_field_toggle(){
        var val = $('input[name="'+model_str+'[edit_users_string]"]:checked').val();
        if(val=="radio_inherit"){
            edit_group_textbox.val("");
            edit_user_textbox.val("");
            edit_toggle_show_textboxes(false);
        }else if(val=="radio_restricted"){
            edit_group_textbox.val("");
            edit_user_textbox.val("");
            edit_toggle_show_textboxes(true);
        }else{
            console.log("Unknown textbox selected: edit_field -"+val);
        }
    }

    function manager_field_toggle(){
        var val = $('input[name="'+model_str+'[manager_users_string]"]:checked').val();
        if(val=="radio_inherit"){
            manager_group_textbox.val("");
            manager_user_textbox.val("");
            manager_toggle_show_textboxes(false);
        }else if(val=="radio_restricted"){
            manager_group_textbox.val("");
            manager_user_textbox.val("");
            manager_toggle_show_textboxes(true);
        }else{
            console.log("Unknown textbox selected: manager_field -"+val);
        }
    }

    function embargo_field_toggle(){
        var val = $('input[name="'+model_str+'[embargo]"]:checked').val();

        if(val=="radio_inherit"){
            embargo_textbox.val("");
            embargo_toggle_show_textbox(false);
        }else if(val=="radio_restricted"){
            embargo_toggle_show_textbox(true);
        }else{
            console.log("Unknown textbox selected: embargo_field -"+val);
        }
    }

    function read_toggle_show_textboxes(show){
        if(show){
            read_group_textbox.restore_previous_value();
            read_user_textbox.restore_previous_value();
            $('#read_access_entries').show();
        }else{
            $('#read_access_entries').hide();
        }
    }

    function edit_toggle_show_textboxes(show){
        if(show){
            edit_group_textbox.restore_previous_value();
            edit_user_textbox.restore_previous_value();
            edit_user_textbox.add_user_string('<%= current_user.user_key %>');
            $('#edit_access_entries').show();
        }else{
            $('#edit_access_entries').hide();
        }
    }

    function manager_toggle_show_textboxes(show){
        if(show){
            manager_group_textbox.restore_previous_value();
            manager_user_textbox.restore_previous_value();
            manager_user_textbox.add_user_string('<%= current_user.user_key %>');
            $('#manager_access_entries').show();
        }else{
            $('#manager_access_entries').hide();
        }
    }

    function embargo_toggle_show_textbox(show){
        if(show){
            embargo_textbox.restore_previous_value();
            $('#embargo_access_entries').show();
        }else{
            $('#embargo_access_entries').hide();
        }
    }
</script>

<div class="dri_access_controls">
	<fieldset id="language">
		<label for="depositor"><%= t('dri.views.objects.access_controls.depositor') %></label>
		<input class="edit dri-textfield" id="depositor" name="depositor" type="text" value="<%= record.depositor %>" readonly>
	</fieldset>

	<div class="field">
		<h5><%= t('dri.views.objects.access_controls.read') %><i id="dri_view_objects_access_controls_read_file_info" class="fa fa-info-circle"></i></h5>
            <%= t('dri.views.objects.access_controls.read_file_desc') %>
		    <div>
                <%= f.radio_button :read_groups_string, "radio_inherit", :onclick => "read_field_toggle();", :disabled => inherit_disabled %>
                <label class="radio-inline dri_radio_label"><%= t('dri.views.objects.access_controls.inherit') %></label>
                <span class="divider">|&nbsp;</span>
                <%= f.radio_button :read_groups_string, "radio_public", :onclick => "read_field_toggle();" %>
                
                <label class="radio-inline dri_radio_label"><%= t('dri.views.objects.access_controls.public') %></label>
                <span class="divider">|&nbsp;</span>               
                
                <%= f.radio_button :read_groups_string, "radio_logged", :onclick => "read_field_toggle();" %>
                <label class="radio-inline dri_radio_label"><%= t('dri.views.objects.access_controls.registered') %></label>
                <span class="divider">|&nbsp;</span>

                <%= f.radio_button :read_groups_string, "radio_restricted", :onclick => "read_field_toggle();" %>
				<label class="radio-inline dri_radio_label"><%= t('dri.views.objects.access_controls.restricted') %></label>
			</div<>

       <fieldset id="read_access_entries">
			<%= f.label :read_users, t('user_groups.views.shared.users')%>
			<%= f.text_field :read_users_string, :onkeyup=>"read_user_textbox.catch_tb_value();" %>

			<%= f.label :read_groups, t('user_groups.views.shared.groups')%>
			<%= f.text_field :read_groups_string, :onkeyup=>"read_group_textbox.catch_tb_value();" %>
		</fieldset>
                
		<div class="field">
			<h5><%= t('dri.views.objects.access_controls.master_file') %><i id="dri_view_objects_access_controls_master_file_info" class="fa fa-info-circle"></i></h5><%= t('dri.views.objects.access_controls.master_file_desc') %>

            <div>
			  <%= f.radio_button :master_file_access, "inherit", :checked=>(record.master_file_access.blank? || record.master_file_access=="inherit"), :disabled=> inherit_disabled %>
              <label class="radio-inline dri_radio_label"><%= t('dri.views.objects.access_controls.inherit') %></label>
              <span class="divider">|&nbsp;</span>
							
			  <%= f.radio_button :master_file_access, "public", :checked=>record.master_file_access=="public" %>
              <label class="radio-inline dri_radio_label"><%= t('dri.views.objects.access_controls.accessible_master_file') %></label>
              <span class="divider">|&nbsp;</span>    
				
			  <%= f.radio_button :master_file_access, "private", :checked=>record.master_file_access=="private" %>
			  <label class="radio-inline dri_radio_label"><%= t('dri.views.objects.access_controls.private_master_file') %></label>
            </div>
		</div> 
            
		<div class="field">
			<h5><%= t('dri.views.objects.access_controls.edit') %></h5>
			<div>
			  <%= f.radio_button :edit_users_string, "radio_inherit", :onclick => "edit_field_toggle();", :disabled=> inherit_disabled  %>
			  <label class="radio-inline dri_radio_label"><%= t('dri.views.objects.access_controls.inherit') %></label>
              <span class="divider">|&nbsp;</span>

              <%= f.radio_button :edit_users_string, "radio_restricted", :onclick => "edit_field_toggle();" %>
              <label class="radio-inline dri_radio_label"><%= t('dri.views.objects.access_controls.restricted') %></label>
			</div>
			<fieldset id="edit_access_entries">
				<%= f.label :edit_users, t('user_groups.views.shared.users')%>
				<%= f.text_field :edit_users_string, :onkeyup=>"edit_user_textbox.catch_tb_value();" %>
			</fieldset>
		</div>
	</div>

	<% if record.collection? && (allow_manage || (can? :manage_collection, record)) %>
	  <div class="field">
		<h5><%= t('dri.views.objects.access_controls.manage') %></h5>
		<div>
			<%= f.radio_button :manager_users_string, "radio_inherit", :onclick => "manager_field_toggle();", :disabled=> inherit_disabled  %>
			<label class="radio-inline dri_radio_label"><%= t('dri.views.objects.access_controls.inherit') %></label>
            <span class="divider">|&nbsp;</span>

		    <%= f.radio_button :manager_users_string, "radio_restricted", :onclick => "manager_field_toggle();" %>
			<label class="radio-inline dri_radio_label"><%= t('dri.views.objects.access_controls.restricted') %></label>
        </div>

		<fieldset id="manager_access_entries">
			<%= f.label :manager_users, t('user_groups.views.shared.users')%>
			<%= f.text_field :manager_users_string, :onkeyup=>"manager_user_textbox.catch_tb_value();" %>
		</fieldset>
	  </div>
    <% end %>
</div>


