<%= form_for @document, as: :batch, :url => {:controller=>"collections", :action=>"add_cover_image"}, :method=>"put" do |f| %>

<div class="dri_file_upload">
	
	<% unless @document[:cover_image].blank? %>
	<div class="dri_cover_image_img">
		<%= image_tag @document[:cover_image], :width=>"228" unless @document[:cover_image].blank? %>
		<h2>Current Image</h2>
	</div>
	<% end %>
	<a class='btn btn-default' href='javascript:;'> <h4 class="dri_upload_file_text"><i class="fa fa-upload">&nbsp;</i><%= "#{t('dri.views.fields.cover_image')}"%></h4>
	<p>
		(228 x 128px)
	</p> <%= f.file_field :cover_image, :class => "edit span6", :onchange=>'coverImageFileUploadHelper($(this));', :accept => 'image/*', :required => 'required'  %> <h4 class='dri_cover_image_file' id="cover_image">No File</h4> </a>

</div>
<div>
<%= f.submit t('dri.views.objects.buttons.save'), :class => "dri_button_green dri_w230", :id => "add_cover_image" %>
<% end %>
</div>

