<div class="modal fade" id="dri_cookie_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><%= t('dri.application.terms.header') %></h4>
      </div>
      <div class="modal-body">
        <div class="dri_cookie_acceptance_text">
           <p><%= render :partial => 'shared/terms' %></p>
        </div>
           <p><%= t('dri.application.terms.message', :url => main_app.page_path('terms') ).html_safe %></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="accept_cookies" class="dri_button_green" data-dismiss="modal" onclick="$.cookie('accept_cookies', 'yes', { path: '/', expires: 10000 });">
          <%= t('dri.application.terms.accept') %>
        </button>
        <a href="https://www.maynoothuniversity.ie/library"><button type="button" class="dri_button_black" id="reject_agreement"><%= t('dri.application.terms.reject') %></button></a>
      </div>
    </div>
  </div>
</div>
