
<div class="dri_display_institutes">
	<% if @collection_institutes || @depositing_institute %>
	<div class="dri_institutes_title">
		<span><%= t('dri.views.collection.institute.title') %></span>
	</div>


	<ul class="dri_collection_institutes_list">
		<% if @depositing_institute %>
		<li>
			<div class="dri_collection_institutes_item">
				<%if @depositing_institute.logo.blank? && @depositing_institute.url.blank?%>
				<%= @depositing_institute.name %>
				<% elsif @depositing_institute.logo.blank? && !@depositing_institute.url.blank? %>
				<%= link_to @depositing_institute.name, @depositing_institute.url, :target => "_blank" %>
				<% elsif !@depositing_institute.logo.blank? && @depositing_institute.url.blank? %>
				<%= image_tag @depositing_institute.logo, :height => "75px" %>
				<% else %>
				<%= link_to image_tag(@depositing_institute.logo, :height => "75px"), @depositing_institute.url, :target => "_blank" %>
				<% end %>
			</div>
		</li>
		<% end %>

		<% if @collection_institutes %>
		  <% @collection_institutes.each do |inst| %>
		    <% next if (@depositing_institute && @depositing_institute.name == inst.name) %>
		    <li>
			  <div class="dri_collection_institutes_item">
				<%if inst.logo.blank? && inst.url.blank? %>
				<%= inst.name %>
				<% elsif inst.logo.blank? && !inst.url.blank? %>
				<%= link_to inst.name, inst.url, :target => "_blank" %>
				<% elsif !inst.logo.blank? && inst.url.blank? %>
				<%= image_tag inst.logo, :height => "75px" %>
				<% else %>
				<%= link_to image_tag(inst.logo, :height => "75px"), inst.url, :target => "_blank" %>
				<% end %>
			  </div>
		    </li>
		  <% end %>
		<% end %>
	</ul>
	<% end %>
</div>

