<dt class="dri_licence"><%= t('dri.views.fields.licence') %></dd>
<dd class="dri_licence"><% if @document.licence.present? %>
      <% if @document.licence.is_a? Array %>
        <%= "#{@document.licence.first}" %>
      <% else %>
        <% if @document.licence.name == "All Rights Reserved" %>
          <% @document.licence.name = t('dri.views.licences.all_rights_reserved') %>
        <% end %>
        <% if @document.licence.url.present? %>
          <%= link_to "#{@document.licence.name}", @document.licence.url, :target => "_blank" %>
        <% else %>
          <%= "#{@document.licence.name}" %>
        <% end %>
      <% end %>
      <%# these logos are too ugly - text looks better %>
      <%# image_tag(@licence.logo) unless @licence.logo.blank? %>
  <% end %>
</dd>
