
<footer id="dri_main_footer_id" class="dri_main_footer">
  <div id="dri_footer_address_id" class="dri_footer_address">
    <%= t('dri.footer.ria_address.project') %><br/>
    <%= t('dri.footer.ria_address.name') %><br/>
    <%= t('dri.footer.ria_address.street') %><br/>
    <%= t('dri.footer.ria_address.zip') %><br/>
    <% phoneNum = '+353 1 474 7197' %>
    <%= t('dri.footer.contacts.phone') + ' ' + phoneNum %><br/>
    <% emailAddress = 'digital.library@nuim.ie' %>
    <%= t('dri.footer.contacts.email') + ' ' %>
    <%= link_to emailAddress, "mailto:#{emailAddress}", :id => 'contact_email' %><br/><br/>
    <%= render partial: "shared/version" %>
  </div>
  <nav id="dri_main_footer_navigation_id"
       class="dri_main_footer_navigation">
    <ul id="dri_main_footer_navigation_links_id"
        class="dri_main_footer_navigation_links">
      <li class="">
        <span> <%= link_to t('dri.headerlinks.end_user_agreement'), main_app.page_path('terms'), :id => "end_user_agreement", :class => "muted" %> </span>
      </li>
      <li class="">
        <span> <%= link_to t('dri.headerlinks.privacy_statement'), '', :id => "privacy_statement", :class => "muted", :target => '_blank' %> </span>
      </li>

      <li>
        <%= link_to t('dri.headerlinks.help'), main_app.page_path('about_faq'), :id => "dri_footer_help" %>
      </li>
      <li class=" no_border_right">
        <span><%= link_to t('dri.headerlinks.about'), main_app.page_path('about_us'), :id => "about_us_footer", :class => "muted" %></span>
      </li>
    </ul>
  </nav>
  <div class="dri_funder_institutes" id="funder_institutes">

		<ul>
			<li>
				<a href="https://www.maynoothuniversity.ie"><%= image_tag("dri/funders/mu_funders_logo.png", :alt=>"Maynooth University" ) %></a>
			</li>
			<li>
				<a href="https://www.spcm.ie"><%= image_tag("dri/funders/spcm_logo.png", :alt=>"St. Patrick's College Maynooth" ) %></a>
			</li>
			<li>
				<a href="https://www.dri.ie"><%= image_tag("dri/funders/dri_ident.png", :alt=>"Digital Repository of Ireland" ) %></a>
			</li>
			<li>
				<a href="https://www.3u.ie"><%= image_tag("dri/funders/3U_partnership.png", :alt=>"3U Partnership logo" ) %></a>
			</li>
			<li class="dri_clearfix dri_underline"></li>
		</ul>
  </div>

</footer>
<!-- close dri_main_footer_id -->
