<% lang_params = {:path => request.fullpath} %>

<% if I18n.locale == :en %>
    <% lang_params[:id] = 'ga' %>
    <ul class="dropdown dri_language_links">
      <%= link_to '#',:"data-toggle" => "dropdown" do %>
      English <i class="fa fa-sml fa-caret-down"></i>
      <% end %>

      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <%= link_to 'Gaeilge', lang_path(lang_params) %>
      </ul>
    </ul>
<% else %>
    <% lang_params[:id] = 'en' %>
    <ul class="dropdown dri_language_links">
      <%= link_to '#', :"data-toggle" => "dropdown" do %>
      Gaeilge <i class="fa fa-sml fa-caret-down"></i>
      <% end %>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <%= link_to 'English', lang_path(lang_params) %>
      </ul>
    </ul>
<% end %>
