<%= form_for @document, as: :batch, :url => {:controller=>"collections", :action=>"set_licence"}, :method=>"put" do |f| %>

<%= render partial: 'shared/form_licence', locals: { f: f } %>

<% end %>



