<?xml version="1.0" encoding="UTF-8"?>
<foxml:digitalObject PID="dri:1234" VERSION="1.1" xmlns:foxml="info:fedora/fedora-system:def/foxml#"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="info:fedora/fedora-system:def/foxml# http://www.fedora.info/definitions/1/0/foxml1-1.xsd">
  <foxml:objectProperties>
    <foxml:property NAME="info:fedora/fedora-system:def/model#state" VALUE="Active"/>
    <foxml:property NAME="info:fedora/fedora-system:def/model#label" VALUE=""/>
    <foxml:property NAME="info:fedora/fedora-system:def/model#ownerId" VALUE="fedoraAdmin"/>
  </foxml:objectProperties>
  <foxml:datastream CONTROL_GROUP="X" ID="DC" STATE="A" VERSIONABLE="true">
    <foxml:datastreamVersion FORMAT_URI="http://www.openarchives.org/OAI/2.0/oai_dc/"
      ID="DC1.0" LABEL="Dublin Core Record for this object" MIMETYPE="text/xml">
      <foxml:xmlContent>
        <oai_dc:dc xmlns:dc="http://purl.org/dc/elements/1.1/"
          xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
          <dc:identifier>dri:1234</dc:identifier>
        </oai_dc:dc>
      </foxml:xmlContent>
    </foxml:datastreamVersion>
  </foxml:datastream>
  <foxml:datastream CONTROL_GROUP="M" ID="descMetadata" STATE="A" VERSIONABLE="true">
    <foxml:datastreamVersion ID="descMetadata.0" LABEL="" MIMETYPE="text/xml">
      <foxml:contentLocation REF="file:<%=Rails.root%>/spec/fixtures/dri_1234.descMeta.txt" TYPE="URL"/>
    </foxml:datastreamVersion>
  </foxml:datastream>
  <foxml:datastream CONTROL_GROUP="M" ID="properties" STATE="A" VERSIONABLE="true">
    <foxml:datastreamVersion ID="properties.0" LABEL="" MIMETYPE="text/xml">
      <foxml:contentLocation REF="file:<%=Rails.root%>/spec/fixtures/dri_1234.properties.txt" TYPE="URL"/>
    </foxml:datastreamVersion>
  </foxml:datastream>
  <foxml:datastream CONTROL_GROUP="X" ID="RELS-EXT" STATE="A" VERSIONABLE="true">
    <foxml:datastreamVersion ID="RELS-EXT.0"
      LABEL="Fedora Object-to-Object Relationship Metadata" MIMETYPE="application/rdf+xml">
      <foxml:xmlContent>
        <rdf:RDF xmlns:ns0="info:fedora/fedora-system:def/model#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
          <rdf:Description rdf:about="info:fedora/dri:1234">
            <ns0:hasModel rdf:resource="info:fedora/afmodel:DRI_Model_Audio"/>
          </rdf:Description>
        </rdf:RDF>
      </foxml:xmlContent>
    </foxml:datastreamVersion>
  </foxml:datastream>
  <foxml:datastream CONTROL_GROUP="M" ID="masterContent" STATE="A" VERSIONABLE="true">
    <foxml:datastreamVersion ID="masterContent.0" LABEL="Test Data 1"
      MIMETYPE="audio/mpeg" >
      <foxml:contentLocation REF="file:<%=Rails.root%>/spec/fixtures/dri_1234.mp3" TYPE="URL"/>
    </foxml:datastreamVersion>
  </foxml:datastream>
  <foxml:datastream CONTROL_GROUP="X" ID="rightsMetadata" STATE="A" VERSIONABLE="true">
    <foxml:datastreamVersion CREATED="2012-04-06T13:41:37.093Z" ID="rightsMetadata.0" LABEL="" MIMETYPE="text/xml">
      <foxml:xmlContent>
        <rightsMetadata xmlns="http://hydra-collab.stanford.edu/schemas/rightsMetadata/v1" version="0.1">
          <copyright>
            <human type="title"/>
            <human type="description"/>
            <machine type="uri"/>
          </copyright>
          <access type="discover">
            <human/>
            <machine/>
            </access>
          <access type="read">
            <human/>
            <machine>
              <group>donor</group>
              <group>public</group>
            </machine>
          </access>
          <access type="edit">
            <human/>
            <machine>
              <person>archivist1@example.com</person>
              <group>archivist</group>
              <group>reviewer</group>
            </machine>
          </access>
          <embargo>
            <human/>
            <machine/>
          </embargo>
          <metadata>
            <machine/>
          </metadata>
          <masterfile>
            <machine>
              <integer>1</integer>
            </machine>
          </masterfile>
        </rightsMetadata>
      </foxml:xmlContent>
    </foxml:datastreamVersion>
  </foxml:datastream>
</foxml:digitalObject>
