<% @page_title = 'DRI Lifecycle' %>
<div id="dri_about_id" class="dri_about_lifecycle">
	<div class="dri_about_title_top">
		About: DRI Lifecycle
	</div>
	<div>
		<div class="dri_about_col01">
			<div class="dri_about_content">
				<h5> Step 1: Evaluate your Collection </h5>
				<%= image_tag("dri/about/dri_about_preserve.png", :alt=>"PRESERVE" ) %>
				<p>
					Assess your collection in terms of DRI’s remit and collection policy. Our collection policy will provide you with an overview of the types of data, digital assets and collections which the Digital Repository of Ireland aims to preserve. You should also review the file formats, metadata and the copyright status of your collection. If your research involves people, you should also review the DRI Restricted Data policy.
				</p>
				<h6>Resources</h6>
				<ul>
					<%= link_to 'http://dri.ie/sites/default/files/files/DRI-collection-policy-april2015.pdf' do %>
					<li>
						DRI Collection Policy (April 2015)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/DRI-restricted-data-policy-may2015.pdf' do %>
					<li>
						DRI Restricted Data Policy (May 2015)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/DRI-deposit-term-conditions-feb2015.pdf' do %>
					<li>
						DRI Deposit Terms and Conditions (Feb. 2015)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/Fact%20Sheet%20No%202%20Copyright%20and%20Licensing%20ver%203.pdf' do %>
					<li>
						DRI Factsheet No. 2: Copyright, Licensing, and Open Access (Feb 2014)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/Fact%20Sheet%20No%203%20File%20Formats%20v4.pdf' do %>
					<li>
						DRI Factsheet No. 3: File Formats Version 2 (June 2015)

					</li>
					<% end %>
					<%= link_to main_app.page_path('about_faq') do %>
					<li>
						FAQ
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="dri_about_col02">
			<div class="dri_about_content">
				<h5> Step 2: Data Preparation </h5>
				<%= image_tag("dri/about/dri_about_preparation.png", :alt=>"PREPARATION" ) %>
				<p>
					DRI follows best practice guidelines in terms of digital formats and metadata creation. This allows for interoperability and enhances discoverability in digital repositories. We have developed a series of metadata guidelines for DRI and metadata quality control among others.
				</p>
				<h6>Resources</h6>
				<ul>
					<%= link_to 'http://dri.ie/sites/default/files/files/qualified-dublin-core-metadata-guidelines.pdf' do %>
					<li>
						Qualified Dublin Core and the Digital Repository of Ireland (April 2015)
					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/metadata-quality-control.pdf' do %>
					<li>
						Metadata Quality Control (Jan 2015)
					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/dri_factsheet1_ver2.pdf' do %>
					<li>
						DRI Factsheet No. 1: Metadata and the DRI (Oct 2013)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/Fact%20Sheet%20No%206%20Digitisation%20v1.pdf' do %>
					<li>
						DRI Factsheet No. 6: Producing High-Quality Images for Digital Preservation (June 2015)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/digitisation-resources' do %>
					<li>
						DRI Digitisation Resources

					</li>
					<% end %>
					<%= link_to main_app.page_path('about_faq') do %>
					<li>
						FAQ
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="dri_about_col03">
			<div class="dri_about_content">
				<h5> Step 3: Understanding Adminstrative Roles </h5>
				<%= image_tag("dri/about/dri_about_roles.png", :alt=>"ROLES" ) %>
				<p>
					DRI have developed policies and procedures to support data ingestion to the repository remotely (via ingest tools) by authorised third parties. Our processes authenticate individuals who wish to deposit data on behalf of their, or another, institution. We use a hierarchy of those “users” that may work on such ingestion processes, and these roles can be set per collection.
				</p>
				<p>
					<%= link_to main_app.page_path('about_lifecycle_roles') do %>
					Find out more about DRI administrative roles.
					<% end %>

				</p>
				<h6>Resources</h6>
				<ul>
					<%= link_to 'http://dri.ie/sites/default/files/files/HowtoDRI_UserRoles%20v2.pdf' do %>
					<li>
						How to DRI: Understanding Administrative Roles (June 2015)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/dri-organisational-manager-agreement-feb2016.pdf' do %>
					<li>
						DRI Organisational Manager Agreement (February 2016)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/DRI-deposit-term-conditions-feb2015.pdf' do %>
					<li>
						DRI Deposit Terms and Conditions (Feb. 2015)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/Fact%20Sheet%20No%205%20DRI%20Membership%20ver%205.pdf' do %>
					<li>
						DRI Factsheet No. 5: About DRI Membership (Jan 2015)

					</li>
					<% end %>
					<%= link_to main_app.page_path('about_faq') do %>
					<li>
						FAQ
					</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="dri_clearfix">
		<div class="dri_about_col01">
			<div class="dri_about_content">
				<h5>Step 4: Ingest Digital Objects</h5>
				<%= image_tag("dri/about/dri_about_ingestion.png", :alt=>"INGESTION" ) %>
				<p>
					Data ingestion to the Repository happens in three different ways, a single ingest web form, single ingest XML upload and bulk ingest through a command line client. Depending on the metadata standard you are using you may need to create a DRI collection first. A collection allows you to organise your digital objects according to your needs (e.g. by subject, by project).
					A collection may contain different types of digital assets (image, audio, text, etc) which must be accompanied by metadata.
				</p>
				<p>
					<%= link_to main_app.page_path('about_lifecycle_ingest') do %>
					Find out more about Ingesting into DRI.
					<% end %>
				</p>

				<h6>Resources</h6>
				<ul>
					<%= link_to 'http://dri.ie/sites/default/files/files/Fact%20Sheet%20No%202%20Copyright%20and%20Licensing%20ver%203.pdf' do %>
					<li>
						DRI Factsheet No. 2: Copyright, Licensing, and Open Access (Feb 2014)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/HowtoDRI_ProtectYourData%20v1.pdf' do %>
					<li>
						How to DRI: Protect Your Data (June 2015)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/qualified-dublin-core-metadata-guidelines.pdf' do %>
					<li>
						Qualified Dublin Core and the Digital Repository of Ireland (April 2015)
					</li>
					<% end %>
					<%= link_to main_app.page_path('about_faq') do %>
					<li>
						FAQ
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="dri_about_col02">
			<div class="dri_about_content">
				<h5>Step 5: Publish your Collection</h5>
				<%= image_tag("dri/about/dri_about_publishing.png", :alt=>"PUBLISHING" ) %>
				<p>
					Once you have reviewed your collection and are satisfied that you have set appropriate access restrictions, copyright statements and licenses, and the metadata for each digital asset is appropriate and accurate, you, or your assigned manager user, can publish your collection. DRI will then mint a digital object identifier for each digital object and your collection will be made available to end-users in accordance with the access permissions set (e.g. publically accessible or restricted). All metadata is publicly available and is licensed under CC-BY.
				</p>
				<h6>Resources</h6>
				<ul>
					<%= link_to 'http://dri.ie/sites/default/files/files/DRI-publishing-your-collection-june2015.pdf' do %>
					<li>
						How to DRI: Publishing Your DRI Collection (June 2015)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/DRI-notice-action-policy-jan2014.pdf' do %>
					<li>
						DRI Notice and Action Policy (Jan. 2014)

					</li>
					<% end %>
					<%= link_to main_app.page_path('about_faq') do %>
					<li>
						FAQ
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="dri_about_col03">
			<div class="dri_about_content">
				<h5>Step 6: Preservation and Reuse </h5>
				<%= image_tag("dri/about/dri_about_depositing.png", :alt=>"DEPOSITING" ) %>
				<p>
Once your collection is published on DRI’s platform, your digital objects are stored in our repository for reliable long term access and preservation. Depending on the licence you attach to your digital objects, others can then reuse these digital objects for their own research. As outlined in our <%= link_to  "deposit terms and conditions", "http://dri.ie/sites/default/files/files/DRI-deposit-term-conditions-feb2015.pdf", :target=>"_blank" %>, if a user creates a new data set using digital objects in the DRI, that user is obliged to offer these new data sets for deposit into the Repository. Thus, this new data set can be used for new prospective research, and so the circle continues. Collection owners, as well as authorised third parties, can access the DRI API to reuse digital objects on other sites and services.

				</p>
				<h6>Resources</h6>
				<ul>
					<%= link_to 'http://dri.ie/sites/default/files/files/Fact%20Sheet%20No%204%20Long%20term%20digital%20preservation%20ver%201.pdf' do %>
					<li>
					DRI Factsheet No. 4: Long-term Digital Preservation (April 2014)

					</li>
					<% end %>
					<%= link_to main_app.page_path('about_faq') do %>
					<li>
						FAQ
					</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
