<% @page_title = 'DRI Lifecycle - Ingesting into the Repository' %>
<div id="dri_crumbtrail_nav_container_id">
	<ol class="breadcrumb">
		<li>
			<%= link_to 'DRI Lifecycle', main_app.page_path('about_lifecycle') %>
		</li>
		<li>
			Understanding Administrative Roles
		</li>
	</ol>
</div>

<div id="dri_about_id" class="dri_about_lifecycle">
	<div class="dri_about_title_top">
		Understanding Administrative Roles
	</div>
	<div>
		<div class="dri_about_col01_02">
			<div class="dri_about_content padded_top">


				<p>
					DRI have developed policies and procedures to support data ingestion to the repository remotely (via ingest tools) by authorised third parties. Our processes authenticate individuals who wish to deposit data on behalf of their, or another,  institution. We use a hierarchy of those “users” that may work on such ingestion processes,and these roles can be set per collection.
				</p>
				<p>
					There are two ways that you can be authorised to deposit content into the  DRI repository:
				</p>
				<p>
					1. through an existing DRI member, who will deposit on your organisation’s behalf. A list of DRI members can be found <%= link_to "here", institutions_path %>.
				</p>
				<p>
					OR
				</p>
				<p>
					2. self-deposit - this is based on your organisation becoming a DRI member and the allocation of DRI administrative roles to the organisation's staff members.
					</p><p><%= link_to "Please see DRI Membership Policy (Nov. 2014)", "http://dri.ie/sites/default/files/files/HowtoDRI_UserRoles%20v2.pdf", :target=>"_blank" %>
					and <%= link_to "DRI Factsheet No. 5: About DRI Membership (Jan 2015)", "http://dri.ie/sites/default/files/files/Fact%20Sheet%20No%205%20DRI%20Membership%20ver%205.pdf", :target=>"_blank" %> for more details.
				</p>

				<p>
					For more information on these roles please read <%= link_to "How to DRI: Understanding Administrative Roles (June 2015)", "http://dri.ie/sites/default/files/files/HowtoDRI_UserRoles%20v2.pdf", :target=>"_blank" %>
				</p>

				<p>
					It is important to note that these roles are underpinned by a legal framework that outlines the responsibilities of you,
					as the depositor, and of DRI, as the data controller.  As a depositor you should carefully read our <%= link_to "Organisational Manager Agreement (February 2016)", "http://dri.ie/sites/default/files/files/dri-organisational-manager-agreement-feb2016.pdf", :target=>"_blank" %>
					and <%= link_to "Deposit Terms and Conditions (Feb. 2015)", "http://dri.ie/sites/default/files/files/DRI-deposit-term-conditions-feb2015.pdf", :target=>"_blank" %>
				</p>
<p>
				Please also review our <%= link_to "End User Terms and Conditions (March 2015)", "http://dri.ie/sites/default/files/files/DRI-end-user-terms-conditions-march2015.pdf", :target=>"_blank" %>

				which outlines the responsibility of any user of your collection and digital objects contain therein.</p>
<p>
				Organisational Managers or Manager Users are obliged to inform DRI of the collections they are planning to deposit into the DRI repository.

				</p>

			</div>
		</div>
		<div class="dri_about_col03">
			<div class="dri_about_content">
				<h5>Resources</h5>
				<ul>
					<%= link_to 'http://dri.ie/sites/default/files/files/HowtoDRI_UserRoles%20v2.pdf' do %>
					<li>
						How to DRI: Understanding Administrative Roles (June 2015)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/Fact%20Sheet%20No%205%20DRI%20Membership%20ver%205.pdf' do %>
					<li>
						DRI Factsheet No. 5: About DRI Membership (Jan 2015)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/DRI-organisational-manager-agreement-june2015.pdf' do %>
					<li>
						Organisational Manager Agreement (June 2015)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/DRI-deposit-term-conditions-feb2015.pdf' do %>
					<li>
						Deposit Terms and Conditions (Feb. 2015)

					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/DRI-end-user-terms-conditions-march2015.pdf' do %>
					<li>
						End User Terms and Conditions (March 2015)

					</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
