<div class="dri_faq">
<h5> General FAQ </h5><p></p>
<h6> What is a digital object? </h6>
<p>
	A digital object refers to metadata, and the associated digital asset e.g. an image, a document, an audio file etc. A digital object without assets, i.e. metadata only, is also a valid digital object.
</p>
<h6> How is data/content on the digital library organised? </h6>
<p>
	All content on the digital library is within a specific collection. A collection is made up of digital objects.
</p>
<h6> What is a DOI? </h6>
<p>
	A digital object identifier (DOI) is a persistent identifier for a digital object. A DOI provides an unchanging link to an open, web accessible page; in the case of DRI, the digital object within the repository.
</p>
<h6> How does the digital library cite data? </h6>
<p>
	The digital library will automatically generate and display citations to the digital objects it holds, these citations will be in the following format:  Creator (Publication Date) Title, Publisher, NAME [Depositing Institution]. DOI
</p>
<h6> How do I generate a citation? </h6>
<p>
	When you are viewing an object or collection, you can generate a citation by clicking "Cite" under the "Object Tools" menu in the sidebar.
</p>
<h6> What is an Orphan Work? </h6>
<p>
	An orphan work is a work protected by copyright, where the rightholder cannot be determined and/or contacted.
</p>
<h5> Users FAQ </h5><p></p>
<h6> What is a digital library Collection? </h6>
<p>
	A collection is a group of digital objects. A collection may contain different types of objects e.g. images, audio, text, metadata. A collection is an aggregation of digital objects which may be linked by subject, location, ownership, etc.
</p>
<h6> What is metadata? </h6>
<p>
	Metadata is data about data. Usually the metadata of an object describes and explains the related digital or physical asset.
</p>
<h6> Can I reuse the data I discover on the digital library? </h6>
<p>
	The reuse of data is dependent on the licence that is assigned to the data. We use a range of licences.  You can get more information on what each type of licence means in the DRI Publication <%= link_to "DRI Copyright, Licencing, and Open Access Factsheet", "http://www.dri.ie/sites/default/files/files/Fact%20Sheet%20No%202%20Copyright%20and%20Licensing%20ver%203.pdf"%>
</p>
<h6> Can I reuse images I find on the digital library? </h6>	
<p>	When reusing images, you must consult the licence metadata that has been applied to the image. 	</p>																							
<h6> Who can use the digital library? </h6>
<p>
	It can be used by anyone, including but not limited to, primary and second level pupils, undergraduate and postgraduate students, educators and academic researchers, historians, local interest groups and public researchers with a specific interest in Irish cultural heritage.
</p>
<h6> Do I have to register to use the digital library? </h6>
<p>
	You don't have to register to use the digital library, however if you sign up and register you can gain access, or apply for access, to more restricted collections.
</p>
<h6> How do I narrow my search results? </h6>
<p>
	When searching, you can filter your search results by using facets. Facets can be found under the "Refine your search" feature. You can facet on: subject (temporal), subjects, places, names, language, mediatype, and collection.
</p>
<h6> Can I use boolean logic in my search terms? </h6>
<p>
	Yes, the digital library can be searched using boolean logic. To do so, you can include the words "AND", "OR", "NOT", and "AND NOT" in your free text query.
</p>
<h6> How can I carry out an advanced searchI? </h6>
<p>
	The digital library uses the Lucene Query Syntax for searching. You can make use of various different types of queries including, keyword matching, wildcard matching, and proximity matching. For more details on how to use these types of queries, please see the <%= link_to "Lucene guide", "https://lucene.apache.org/core/2_9_4/queryparsersyntax.html", :target=>"_blank" %> .
</p>
<h6> How do I bookmark an object or collection? </h6>
<p>
	When you are viewing an object or collection, you can bookmark an object or collection by pressing "Bookmark Object" or "Bookmark Collection" respectively, under the "Object Tools" menu in the sidebar.
</p>
<h6> Can I share content on social media? </h6>
<p>
	You can share openly accessible content on Facebook, Twitter, Pinterest, Google+, and can also share a URL.
</p>
</div>
