<% @page_title = 'DRI Lifecycle - Ingesting into the Repository' %>
<div id="dri_crumbtrail_nav_container_id">
	<ol class="breadcrumb">
		<li>
			<%= link_to 'DRI Lifecycle', main_app.page_path('about_lifecycle') %>
		</li>
		<li>
		Ingesting into the Repository</li>
	</ol>
</div>

<div id="dri_about_id" class="dri_about_lifecycle">
	<div class="dri_about_title_top">
		Ingesting into the Repository
	</div>
	<div>
		<div class="dri_about_col01_02">
			<div class="dri_about_content padded_top">
				<p>
					Ingesting into the Repository is the act of taking a digital asset and creating metadata to describe this asset, checking that the asset and metadata is valid, followed by a review process to ensure that everything is compliant with DRI guidelines. Surrogate information may be generated at this point in time. Once the new digital object is prepared and validated, it is then ingested for preservation.

					A DRI digital object refers to metadata, and the associated digital asset e.g. an image, a document, an audio file etc. A digital object without assets, i.e. metadata only, is also a valid digital object.

					A depositor should also consider ingesting contextual information about their collections to aid other researchers in reusing their data. Contextual information is also ingested into the Repository as a digital object.

					Methods of Ingestion into the Repository
				</p>

				<p>
					A depositor can create collections and ingest digital objects into these in three different ways:
				</p>

				<p>
					1. User Interface
				</p>

				<p>
					Content can be ingested into the Repository using the user interface. The user interface allows the user to create a collection by filling in collection-level metadata into a form.

					The Repository includes a web-based user interface for single object ingest. This user interface provides blank fields to allow cataloguers to create metadata for a single digital object to be ingested into a target collection. The metadata records are stored as XML and can be exported by the cataloguer as an XML file if desired.

					Metadata in XML format can also be ingested directly into a collection in the Repository.
				</p>

				<p>
					2. DRI Client Application
				</p>

				<p>
					Content can be ingested into the Repository using the DRI Client Application. This method is currently command line based. The DRI Client Application can be used to ingest a single digital object into a target collection that is already in the Repository, or can be used to create a collection at the time of ingestion. The DRI Client Application can also be used for bulk ingest, where the depositor can ingest multiple digital objects at once.
				</p>

				<p>
					3. DRI REST-Based API
				</p>

				<p>
					Content can be ingested into the Repository through third-party applications using the DRI REST-based API.
				</p>
				<iframe src="https://player.vimeo.com/video/131369549" width="638" height="368" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

			</div>
		</div>
		<div class="dri_about_col03">
			<div class="dri_about_content">
				<h5>Resources</h5>
				<ul>
					<%= link_to 'http://dri.ie/sites/default/files/files/Fact%20Sheet%20No%202%20Copyright%20and%20Licensing%20ver%203.pdf' do %>
					<li>
						DRI Factsheet No. 2: Copyright, Licensing, and Open Access (Feb 2014)
					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/HowtoDRI_ProtectYourData%20v1.pdf' do %>
					<li>
						How to DRI: Protect Your Data (June 2015)
					</li>
					<% end %>
					<%= link_to 'http://dri.ie/sites/default/files/files/qualified-dublin-core-metadata-guidelines.pdf' do %>
					<li>
						Qualified Dublin Core and the Digital Repository of Ireland (April 2015)
					</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
