<div id="dri_about_id" class="dri_about">
	<div class="dri_about_banner">
		<%= image_tag("dri/about/South Campus-Library-about_banner.jpg", :alt=>"Maynooth Library Banner Image" ) %>
	</div>
	<div>
		<div class="dri_about_text_row">
			<div class="dri_about_repository">

				<h5>About the Digital Library</h5>

				<h6>Introduction</h6>

<p>The Digital Library is a project of Maynooth University Library and hosts digital material belonging to both Maynooth University and St. Patrick's College Maynooth.</p>
				<h6>Technical</h6>

				<p>The Digital Library is based on the repository software developed by the Digital Repository of Ireland [DRI]. The underlying technology is Hydra and Fedora Commons. A more in-depth exploration of the technology behind the DRI can be found in the <a href="http://dri.ie/sites/default/files/files/building-dri-infrastructure.pdf">'Building the DRI'</a> publication. The DRI in turn has been built by a research consortium of six academic partners: <a href="https://www.ria.ie">Royal Irish Academy </a>(RIA),<a href="https://maynoothuniversity.ie/"> Maynooth University </a>(MU), <a href="www.tcd.ie">Trinity College Dublin</a> (TCD), <a href="https://www.dit.ie">Dublin Institute of Technology </a>(DIT), <a href="https://www.nuigalway.ie">National University of Ireland, Galway </a> (NUIG), and <a href="https://www.ncad.ie">National College of Art and Design </a> (NCAD).
				</p>
			</div>
			<div class="dri_about_who">
				<h5> Who we are </h5>
				<p>
				</p>
			</div>
		</div>

	</div>
