<%= form_for @licence, :html => { :id => "dri_edit_licence_form", :multipart => true }  do |f| %>
  <%= f.label "#{t('dri.views.licences.forms.name')}:" %>
  <%= f.text_field :name %>
  <br />

  <%= f.label "#{t('dri.views.licences.forms.url')}:" %>
  <%= f.text_field :url %>
  <br />

  <%= f.label "#{t('dri.views.licences.forms.logo')}:" %>
  <%= f.text_field :logo %>
  <%= file_field_tag :logo_file %>
  <br />

  <%= f.label "#{t('dri.views.licences.forms.description')}:" %>
  <%= f.text_field :description %>
  <br />

  <%= f.submit :id => "save_licence" %>

<% end %>
