<article class="dri_result_object dri_clearfix" id="<%= document.id.to_s %>">
  <div class="dri_content_list_collection">
           <% if params[:controller] == 'bookmarks' && params[:action] == 'index' %>

                <%= link_to bookmark_path(document.id), method: :delete, :id => 'remove_bookmark' do %>
                <span class="dri_remove_bookmark"><i class="fa fa-bookmark"></i></span>
                <% end %>
            <% end %>

    <!-- close image -->

    <div class="dri_content_list_collection_data">
      <%= link_to(url_for_document(document), document_link_params(document, {:counter => document_counter_with_offset(document_counter)} )) do %>
          <h4><%= document[Solrizer.solr_name('title', :stored_searchable, type: :string).to_sym][0] %></h4>
      <% end %>
      <p>
        <%= truncate_description(document[Solrizer.solr_name('description', :stored_searchable, type: :string).to_sym][0], 280).html_safe %>
      </p>
      <p class="dri_publishing_institute">
	    <% get_depositing_institute ( document ) %>
		<% if @depositing_institute.present? %>
		    <%= @depositing_institute.name %>
		<% else %>
			N/A
		<% end %>
      </p>
      <%# If ROOT COLLECTION %>
      <% if document[Solrizer.solr_name('collection_id', :stored_searchable, type: :string)].nil? %>
          <% collection_objects_params = { :f => {Solrizer.solr_name('root_collection_id', :facetable).to_sym => [document[Solrizer.solr_name('root_collection_id', :stored_searchable, type: :string)].first]}, :mode => "objects", :search_field => "all_fields", :view => params[:view] } %>
      <% else %>
          <%# If SUB-COLLECTION %>
          <% collection_objects_params = { :f => {Solrizer.solr_name('ancestor_id', :facetable).to_sym => [document.id]}, :mode => "objects", :search_field => "all_fields", :view => params[:view] } %>
      <% end %>
      <%= link_to (catalog_index_path(collection_objects_params)) do %>
          <div class="dri_num_list_objects">
            <span class="dri_object_text_num">
              <%= t('dri.views.catalog.forms.objects_in_collection') + " (" + count_items_in_collection(document[:id]).to_s + ")" %>
            </span>
          </div>
      <% end %> <!-- close dri_num_objects -->
    </div>
  </div>
  <%= link_to(url_for_document(document), document_link_params(document, {:counter => document_counter_with_offset(document_counter)} )) do %>
      <div class="dri_image">
        <% image = cover_image ( document ) %>
        <% unless image.nil? %>
            <%= image_tag image, :width=>"200" %>
        <% else %>
            <%= image_tag "no_image.png", :width=>"200" %>
        <% end %>
      </div>
  <% end %>

  <% if params[:controller] == 'bookmarks' && params[:action] == 'index' %>
      <%= link_to 'remove bookmark', bookmark_path(document.id), method: :delete, :id => 'remove_bookmark' %>
  <% end %>
  <!-- close content_block -->
</article>
