<% valid_object_count = get_valid_timeline_count params %>
<%= javascript_include_tag "https://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js" %>

<% if valid_object_count > 0 && valid_object_count < 100 %>
    <script>
        $(document).ready(function() {
            var tlwidth = $('#dri_timeline_id').width();
            createStoryJS({
                type: 'timeline',
                width: tlwidth,
                height: '450',
                source: <%= @timeline_data.html_safe %>,
                embed_id: 'time_line'
            });
        });
    </script>
    <div id="dri_timeline_id">
            <div id="time_line" ></div>
    </div>

<% elsif valid_object_count > 0 && valid_object_count > 100 %>
    <h4>
    <!-- TRANSLATE -->
      Sorry there are too many results to show on Timeline.
    </h4>
    <p>
      There are currently <%= valid_object_count %> results. Try filtering your results until you get less than 100.
    </p>
 <% else %>
    <h4>
      <%= t('dri.help.no_results_found') %>
    </h4>
    <p>
      <%= t('dri.application.timeline.description.no_results') %>
    </p>
<% end %>