<% # container for all documents in index view -%>
<% if params[:view] == 'grid' || params[:view] == 'list' %>
    <%= render documents, :as => :document %>
<% elsif params[:view] == 'timeline' %>
    <%= render 'catalog/browse_view_timeline' %>
<% end %>