<div id="dri_welcome_block_id" class="dri_welcome_block">
  <h1><%= t('dri.application.home.welcome_to_dri') %></h1>
  <p>
    <%= t('dri.application.home.introtext') %>
  </p>
  <p class="dri_home_link">
    <%= link_to t('dri.application.home.links.visit_dri'), 'http://dri.ie', :target => "_blank" %>
  </p>
</div><!-- dri_welcome_block -->

<div id="dri_slideshow_block_id" class="carousel slide dri_slideshow_block">
  <div class="carousel slide" data-ride="carousel" data-interval="5000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#" data-slide-to="0" class="active"></li>
      <li data-target="#" data-slide-to="1"></li>
      <li data-target="#" data-slide-to="2"></li>
      <li data-target="#" data-slide-to="3"></li>
      <li data-target="#" data-slide-to="4"></li>
      <li data-target="#" data-slide-to="5"></li>
      <li data-target="#" data-slide-to="6"></li>
      <li data-target="#" data-slide-to="7"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
         <%= link_to "#{main_app.root_url}/catalog/1c18df827" do %>
            <%= image_tag("dri/slides/iipublic_crop.jpeg", :alt=>"Inspiring Ireland 1916 Public Memorabilia Collection" ) %>
            <div class="carousel-caption">
              <p>
                Inspiring Ireland 1916 Public Memorabilia Collection
              </p>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#{main_app.root_url}/catalog/9593zf44k" do %>
            <%= image_tag("dri/slides/slide_001_KSW_7_3.png", :alt=>"Ken Saro Wiwa Collection" ) %>
            <div class="carousel-caption">
              <p>
                Ken Saro Wiwa Collection
              </p>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#{main_app.root_url}/" do %>
            <%= image_tag("dri/slides/slide_002_russel_rustic_books.png", :alt=>"The Russell Library" ) %>
            <div class="carousel-caption">
              <p>
                The Russell Library
              </p>
        <% end %>
        </div>
      </div>
      <div class="item">
        <%= link_to "#{main_app.root_url}/catalog/9593xp97w" do %>
            <%= image_tag("dri/slides/slide_003_PH_10_2_1_3_4.png", :alt=>"The pearse Hutchinson Collection" ) %>
            <div class="carousel-caption">
              <p>
                The Pearse Hutchinson Collection
              </p>
            </div>
        <% end %>
      </div>
       <div class="item">
        <%= link_to "#{main_app.root_url}/" do %>
            <%= image_tag("dri/slides/slide004_SouthCampus-Library.png", :alt=>"maynooth university South Campus" ) %>
            <div class="carousel-caption">
              <p>
                Maynooth University South Campus
              </p>
            </div>
        <% end %>
      </div>
       <div class="item">
        <%= link_to "#{main_app.root_url}/catalog/95944b38t" do %>
            <%= image_tag("dri/slides/slide005_deevy_crop.jpg", :alt=>"The Teresa Deevy Archive" ) %>
            <div class="carousel-caption">
              <p>
                The Teresa Deevy Archive
              </p>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#{main_app.root_url}/" do %>
            <%= image_tag("dri/slides/slide_006_library_green_foyer.png", :alt=>"Maynooth University Library foyer" ) %>
            <div class="carousel-caption">
              <p>
                Maynooth University Library foyer
              </p>
            </div>
        <% end %>
      </div>
      <div class="item">
        <%= link_to "#{main_app.root_url}/catalog/5999p401h" do %>
            <%= image_tag("dri/slides/slide_007_iqda_crop.jpg", :alt=>"Life Histories and Social Change" ) %>
            <div class="carousel-caption">
              <p>
                Life Histories and Social Change
              </p>
            </div>
        <% end %>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#dri_slideshow_block_id" data-slide="prev"> <i class="fa fa-chevron-left fa-2x"></i> </a>
    <a class="right carousel-control" href="#dri_slideshow_block_id" data-slide="next"> <i class="fa fa-chevron-right fa-2x"></i> </a>
  </div>

</div>

<div class="dri_home_container dri_clearfix">
  <div id="featured_collections" >
    <div class="dri_home_title">
      <h2><%= t('dri.application.home.featured_collections') %></h2>
      <div class="dri_border_bottom">
        &nbsp;
      </div>
    </div>
    <!-- close dri_home_title -->
    <div class="dri_clearfix">
		<article class="block5" id="95944s32v">
		  <div class="dri_content_block_collection">
		    <a href="/catalog/95944s32v">
		        <div>
		          <div class="dri_collection_image">
		                <img alt="Teresa Deevy Archive" src="https://padraic.org/Collections/Deevy4MUdri/DeevyCover.png" width="228">
		          </div>
		          <!-- close image -->
		          <h1>Teresa Deevy Archive</h1>
		          <p class="dri_publishing_institute">
		                Maynooth Univeristy Library
		          </p>
		        </div>
		</a>    <a href="/catalog?f%5Broot_collection_id_sim%5D%5B%5D=95944s32v&amp;mode=objects&amp;search_field=all_fields&amp;view=grid">
		        <div class="dri_num_objects">
		          <span class="dri_object_text_num"> Objects (3000)</span>
		        </div>
		    </a> <!-- close dri_num_objects -->
		  </div>
		  <!-- close content_block -->
		</article>
		<article class="block5" id="95944s31k">
		  <div class="dri_content_block_collection">
		    <a href="/catalog/95944s31k">
		        <div>
		          <div class="dri_collection_image">
		                <img alt="95944s31k" src="https://padraic.org/Collections/KSWorganisation/ksw/ksw_cover_image.jpg" width="228">
		          </div>
		          <!-- close image -->
		          <h1>The Ken Saro-Wiwa Archive </h1>
		          <p class="dri_publishing_institute">
		                Maynooth University Library
		          </p>
		        </div>
		</a>    <a href="/catalog?f%5Broot_collection_id_sim%5D%5B%5D=95944s31k&amp;mode=objects&amp;search_field=all_fields&amp;view=grid">
		        <div class="dri_num_objects">
		          <span class="dri_object_text_num"> Objects (37)</span>
		        </div>
		    </a> <!-- close dri_num_objects -->
		  </div>
		  <!-- close content_block -->
		</article>
		<article class="block5" id="9593zg12h">
		  <div class="dri_content_block_collection">
		    <a href="/catalog/9593zg12h">
		        <div>
		          <div class="dri_collection_image">
		                <img alt="9593zg12h" src="http://padraic.org/Collections/PearseHutch/PearseImages/PH_cover_image.jpeg" width="228">
		          </div>
		          <!-- close image -->
		          <h1>The Pearse Hutchinson Archive</h1>
		          <p class="dri_publishing_institute">
		                Maynooth University Library
		          </p>
		        </div>
		</a>    <a href="/catalog?f%5Broot_collection_id_sim%5D%5B%5D=9593zg12h&amp;mode=objects&amp;search_field=all_fields&amp;view=grid">
		        <div class="dri_num_objects">
		          <span class="dri_object_text_num"> Objects (2009)</span>
		        </div>
		    </a> <!-- close dri_num_objects -->
		  </div>
		  <!-- close content_block -->
		</article>
    </div>
  </div>

  <div>
    <div class="dri_home_title dri_clearfix">
      <h2><%= t('dri.application.home.featured_objects') %></h2>
      <div class="dri_border_bottom">
        &nbsp;
      </div>

    </div>
    <!-- close dri_home_title -->
    <div class="dri_clearfix">
		<article class="block5" id="9593xp942">
		  <div class="dri_content_block">

		    <a href="/catalog/9593xp942">
		        <h1>Wife to James Whelan</h1>
		        <div class="dri_image">

              <%= image_tag("dri/home_tmp/wife.jpeg", :alt=>"wife") %>
		        </div><!-- close image -->
		</a>
		    <p class="dri_subject">
		          Drama
		    </p>

		    <div class="dri_icon">
		          <span class="dri_icon_image"><%= image_tag("dri/formats/image_icon.png", :alt=>"Image Icon" ) %> &nbsp; Image</span>
		    </div>
		    <!-- close dri_icon -->

		  </div>
		  <!-- close content_block -->
		</article>

<article class="block5" id="9593x0336">
  <div class="dri_content_block">

    <a data-context-href="/catalog/9593x0336/track?counter=1&amp;per_page=9&amp;search_id=802876" href="/catalog/9593x0336">
        <h1>Letter to Sister Majella, 13th July 1994</h1>
        <div class="dri_image">

          <%= image_tag("dri/home_tmp/letter.jpeg", :alt=>"Letter") %>
        </div><!-- close image -->
</a>
    <p class="dri_subject">
               Ken Saro-Wiwa
               |
               Keywords
               |
               subjects 
               |
               taken
               |
               from object metadata           |
    </p>

		    <div class="dri_icon">
		          <span class="dri_icon_image"><%= image_tag("dri/formats/image_icon.png", :alt=>"Image Icon" ) %> &nbsp; Image</span>
		    </div>
		    <!-- close dri_icon -->

  </div>
  <!-- close content_block -->
</article>
<article class="block5" id="5999n681p">
  <div class="dri_content_block">

    <a data-context-href="/catalog/5999n681p/track?counter=13&amp;per_page=9&amp;search_id=802880" href="/catalog/5999n681p">
        <h1>Quinze Juillet, Early Morning.</h1>
        <div class="dri_image">

          <%= image_tag("dri/home_tmp/quinze.jpeg", :alt=>"Quinze") %>
        </div><!-- close image -->
</a>
    <p class="dri_subject">
               A Sense of Place
               |
               History
               |
               Local history
               |
               Land titles
               |
               Land tenure
               |
               Eviction
               |
               Names, Geographical
               |
               Religion
               |
               17th century land transfers
               |
               Dispossession
               |
               Topographic maps
               |
               Place names

    </p>

		    <div class="dri_icon">
		          <span class="dri_icon_image"><%= image_tag("dri/formats/image_icon.png", :alt=>"Image Icon" ) %> &nbsp; Image</span>
		    </div>
		    <!-- close dri_icon -->

  </div>
  <!-- close content_block -->
</article>
    </div>
  </div>
</div>
<div id="dri_rss_feed_id" class="dri_second_navigation_container">
  <%= render "socialmedia/rss_feed" %>

</div>
