<div id="oject-multiple-asset-carousel" class="carousel slide dri_carousel_controls" data-ride="carousel" data-interval = "false" >
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <!--First item set to active-->


      <div class="item dri_asset_carousel_item dri_bottom_stack active">
        <%= render :partial => "object_show_surrogate", :locals => {:document => document, :generic_file => @displayfiles.first} %>
        <%= render :partial => "object_show_download", :locals => {:document => document, :generic_file => @displayfiles.first, :index => 1} %>
      </div>


      <% @displayfiles[1..-1].each_with_index do |file,i| %>
        <div class="item dri_asset_carousel_item dri_bottom_stack">
          <%= render :partial => "object_show_surrogate", :locals => {:document => document, :generic_file => file} %>
          <%= render :partial => "object_show_download", :locals => {:document => document, :generic_file => file, :index => i + 2} %>
        </div>
      <% end %>
    </div>

    <% if (@displayfiles.count > 1) %>
      <div>
        <a class="left carousel-control" href="#oject-multiple-asset-carousel" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="right carousel-control" href="#oject-multiple-asset-carousel" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
    <% end %>
  </div>
  <!-- Controls -->
<% if (@displayfiles.count > 0) %>
    <p class="dri_assets_total"><%= "#{t('dri.views.fields.total_assets')} (#{@displayfiles.count})" %></p>
<% end %>
