<% if can? :read, @document %>
    <% unless @displayfiles.empty? %>

      <!-- display the asset carousel -->
      <div class="dri_asset_holder">
        <%= render :partial => "object_show_carousel", :locals => {:document => @document, :files => @displayfiles} %>
      </div> <!-- ending dri_asset_holder -->

    <% end %>

<% else %>

    <h2 class="dri_restrict_title"><%= t('dri.views.catalog.forms.restricted_asset') %></h2>
    <p class="dri_restrict_message" id="asset_no_permission"><%= t('dri.views.catalog.legends.no_permission') %></p>
    <% if current_user %>
        <% reader_group = reader_group(@document.collection_id) %>
        <% pending = reader_group.pending_memberships %>

        <% if pending.find_by_user_id(current_user.id).nil? %>
            <%= form_for(reader_group.memberships.build, url: user_group.pending_memberships_path, :method => :post) do |f| %>
                <%= render partial: 'user_group/shared/error_messages', locals: {object: f.object} %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :group_id , value: reader_group.id %>
                <%= f.submit t('dri.views.catalog.legends.request_permission_logged_in'), :class => 'dri_request_access_button' %>
            <% end %>
        <% else %>
            <p class="dri_restrict_progress"><%= t('dri.views.catalog.legends.request_permission_in_progress') %></p>
        <% end %>
    <% else %>
        <p class="dri_restrict_message"><%= t('dri.views.catalog.legends.request_permission_not_logged_in') %></p>
    <% end %>

<% end %>
