<div class="dri_sidenav">
	<h5><i class="fa fa-lg fa-gear"></i>&nbsp;<%= t('dri.views.catalog.titles.object_tools') %> </h5>
	<!-- close vc_title -->

	<ul>
		<%= render_show_doc_actions %>
		<% if current_or_guest_user %>
		<li>
			<% if @document.collection? %>
			<%= link_to t('dri.views.catalog.forms.manage_bookmark'), bookmarks_path({:mode => 'collections', :view => 'grid', :show_subs=> true}), :tabindex => "-1", id: "manage_bookmark" %>
			<% else %>
			<%= link_to t('dri.views.catalog.forms.manage_bookmark'), bookmarks_path({:mode => 'objects', :view => 'grid'}), :tabindex => "-1" %>
			<% end %>
		</li>
		<% end %>
		<% if @document.has_geocode? %>
		<li>
			<%= link_to t('dri.views.catalog.forms.map'), maps_path(@document.id), :id => "logainm_map", :'data-toggle' => 'modal',  :'data-target' => '#dri_map_modal_id' %>
		</li>
		<% end %>
		<li>
			<%= link_to t('dri.views.catalog.forms.metadata_full'), object_metadata_path(@document.id, format: 'js'), :id => "styled_metadata", :remote => true, :'data-toggle' => 'modal',  :'data-target' => '#dri_metadata_modal_id' %>
		</li>
		<li>
			<%= link_to t('blacklight.tools.endnote'), object_path(@document, :format => 'endnote') %>
		</li>
		<li>
			<%= link_to t('blacklight.tools.cite'), citation_object_path(@document), :id => 'show_citation', :'data-toggle' => 'modal',  :'data-target' => '#dri_citation_modal_id' %>
		</li>
		<% if (can? :edit, @document) %>
		<li>
			<%= link_to t('dri.views.catalog.links.history'), object_history_path(@document.id), :id => 'show_object_history_report' %>
		</li>
		<% end %>
		<% get_cover_image @document %>
		<li class="dri_share">
			<%= social_share_button_tag(document_show_html_title, :image => @cover_image, :popup => 'true') %>
		</li>

	</ul>
</div>
<div class="modal fade" id="dri_citation_modal_id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title"><%= t('blacklight.tools.cite') %></h4>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					<%= t('dri.window.modal.close') %>
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="dri_metadata_modal_id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title"><%= t('dri.views.catalog.forms.metadata_full') %></h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<%= link_to t('dri.views.catalog.buttons.download_metadata_xml'), 
				    object_metadata_path(@document.id, :format => :xml), {:id => "download_metadata", :class => "btn btn-default"} 
				%>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					<%= t('dri.window.modal.close') %>
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="dri_map_modal_id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title"><%= t('dri.views.catalog.forms.map') %></h4>
			</div>
			<div class="modal-body" id="map_container"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					<%= t('dri.window.modal.close') %>
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

