<% if is_root? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home_text' %>
<% else %>
    <!--otherwise it will render the search results/browse page-->
    <%= render 'browse' %>
<% end %>

