<div id="dri_login_form_container_id" class="dri_login_form_container">

  <div id="dri_login_form_block_id" class="dri_login_form_block">

    <%= form_for(resource, :as => resource_name, :url => new_user_session_path) do |f| %>
        <%= devise_error_messages! %>
        <h2>
          <%= t('dri.sign_in.title') %>
        </h2>
        <div>
          <%= f.label :email, (t :'user_groups.views.shared.email') %>
          <%= f.email_field :email, :autofocus => "true" %>
        </div>
        <div>
          <%= f.label :password, (t :'user_groups.views.shared.password') %>
          <%= f.password_field :password %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="dri_checkbox_text">
              <%= f.check_box :remember_me %> <%= f.label :remember_me, (t :'user_groups.views.sign_in.remember_me') %>
            </div>
        <% end -%>

        <div class="dri_submit">
          <%= f.submit t('dri.sign_in.title' , :default => "Login") %>
        </div>
        <div class="dri_form_text">
          <%= render "devise/shared/links" %>
        </div>
        <!--  close dri_form_text -->

    <% end %>
  </div>




</div>
