<%= render :partial => "show_surrogate" %>

<h2 class="non lower"><%= t('dri.views.catalog.links.details') %></h2>
<table>
  <tbody>
  <% unless @generic_file.related_files.empty? %>
      <tr>
        <th><%= t('dri.views.catalog.links.related') %></th>
        <td>
          <div>
            <dl>
              <dt>
                <% @generic_file.related_files.each do |f| %>
                  <dd><%= link_to(f.label, object_file_path(@document.id, f.id)) %></dd>
              <% end %>
              </dt>
            </dl>
          </div>
        </td>
      </tr>
  <% end %>
  <tr>
    <th><%= t('dri.views.catalog.links.characterization') %></th>
    <td>
      <%= t('dri.views.catalog.links.not_characterized') if @generic_file.characterization_terms.values.flatten.map(&:empty?).reduce(true) { |sum, value| sum && value } %>
      <% @generic_file.characterization_terms.each_pair do |term, values| %>
          <div>
            <% label = term.to_s %>
            <% if label == "format_label" %>
                <% label = "File Format"  %>
                <% values = @generic_file.file_format %>
            <% end %>
            <% label = label.humanize %>
            <% if values.is_a? Array %>
                <% length = values.length %>
                <% length = Sufia.config.fits_message_length-1  if term == :message && values.length > Sufia.config.fits_message_length-1  %>
                <% values[0..length].each_with_index do |value, idx| %>
                    <% next if value.empty? %>
                    <%= "#{label}: #{value.truncate(250)}" %>
                    <%= "<br />".html_safe unless idx == length %>
                <% end %>
            <% else %>
                <%= "#{label}: #{values.truncate(250)}" %><br />
            <% end %>
          </div>
      <% end %>
    </td>
  </tr>
  <% if @status[:status].present? %>
  <tr>
    <th><%= t('dri.views.catalog.legends.file_status', status: @status[:status]) %></th></tr>
    <tr><th>Job</th><th>Status</th><th>Message</th></tr>
    <% @status[:jobs].each do |name, job| %>
    <tr>
      <td><%= name %></td><td><%= job[:status] %></td><td><%= job[:message] %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table> <!-- /verticalheadings -->
