<div class="dri_object_container">

  <%= render partial: 'show_details' %>
  
  <br/>
  <legend><%= t('dri.views.objects.legends.upload_file') %></legend>
  
  <%= form_tag(url_for(object_file_path(@document.id, @generic_file.id)), :multipart => true, :method => :put, :id => "file_uploader") do %>
    <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
    <%= hidden_field_tag 'datastream', "content" %>
    <%= file_field_tag 'Filedata', :required => "true" %>
    <%= button_tag t('dri.views.objects.buttons.replace_master'), :id => "add_file", :name => "upload_file", :class => "btn-primary" %>
  <% end %>

</div>

