<fieldset>
    <div class="dri_file_upload">
        <form id="metadata_uploader" action="<%= url_for(:action=>"create", :controller=>"objects") %>" enctype="multipart/form-data" method="post" accept-charset="utf-8">

            <div>
                <a class='btn btn-default' href='javascript:;'> 
                    <h5 class="dri_upload_file_text"><i class="fa fa-upload">&nbsp;</i><%= t('dri.views.ingest.steps.upload') %></h5>
                    <input type="file" name="metadata_file" accept="application/xml" required onchange='fileUploadHelper($(this));'> 
                    <h5 id="file_name">No File</h5></a>
            </div>
            <input type="hidden" name="batch[governing_collection]" value="<%= @collection %>">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <input type="hidden" name="batch[read_groups_string]" value="public" />
            <input type="hidden" name="batch[discover_groups_string]" value="public" />
            <div>
                <%= submit_tag t('dri.views.ingest.buttons.continue'), :class => "btn-primary btn-large dri_clearfix", :name => "ingest_metadata", :id => "ingest_metadata" %>
            </div>
        </form>
    </div>
</fieldset>

