<small>
  <% if has_user_authentication_provider? %>
    <div class="util-links-login">
      <% if current_user %>
        <%= link_to t('blacklight.header_links.logout'), user_group.destroy_user_session_path, :method => :delete, :id => "logout"  %>
        [<%= render partial: "user_group/users/partials/image", locals:{ user: current_user, size: "14x14"} %>
        <%= link_to current_user, user_group.user_path(current_user), :id => "view_account" %>]

      <% else %>
        <%= link_to t('blacklight.header_links.login'), user_group.new_user_session_path, :id => "login" %>
	|
	<%= link_to t('user_groups.views.shared.register'), user_group.new_user_path %>
      <% end %>
    </div>

  <% end %>

  <div class="util-links-other">
    <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path, :id => "bookmarks" %>
    <% if current_user %>
      |
      <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path, :id => "saved_search" %>
      
    <% end %>
    |
    <%= link_to t('blacklight.header_links.search_history'), search_history_path, :id => "search_history" %>
  </div>
</small>
