<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8">

		<!-- Mobile viewport optimization h5bp.com/ad -->
		<meta name="HandheldFriendly" content="True">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-title"
          content="<%= application_name %>">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
		<meta http-equiv="cleartype" content="on">
		<title><%= h(@page_title || application_name) %></title>

		<link href="<%= opensearch_catalog_url(:format => 'xml') %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>

		<%= favicon_link_tag asset_path('favicon.ico') %>

		<%= stylesheet_link_tag "dri/dri_layouts" %>

		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<%= content_for(:head) %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<%= favicon_link_tag asset_path('favicon.ico') %>

		<%= analytics_init if Rails.env.production? && !(Settings.analytics && Settings.analytics.disable == true) %> 

	</head>

	<% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>

	<body>
		<div id="dri_wrapper_id" class="block1 dri_wrapper">

			
			
			

			<%= render :partial => 'shared/cookies_modal' unless cookies[:accept_cookies]%>
			<%= render :partial => 'shared/header_navbar' %>
			<div id="ajax-modal" class="modal fade" tabindex="-1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						Loading...
					</div>
				</div>
			</div>
			<%#  the blacklight maps gem seems to set a 'constraint' even when none appears to exist %>
			<%# - check below is to see if a facet or text query exists %>
			<% if query_has_constraints? && (!params[:f].nil?) || (!params[:q].nil?) %>
			<%= render 'constraints' %>
			<% end %>

			<% if flash  %>
			<%= render :partial=>'/flash_msg' %>
			<% end %>
			<!-- This condition identifies the browse section of the application and every search result and/or facet refinement -->
			<% if (((controller_name.eql?('catalog') || controller_name.eql?('bookmarks') ||
			controller_name.eql?('workspace')) && action_name.eql?('index')) && has_browse_params?) ||
			(controller_name.eql?('saved_searches') && action_name.eql?('index'))%>
			<%= render 'catalog/browse_mode_swap' %>
			<% end %>

			<div class="dri_main_content_container">
				<%= yield %>
			</div>
			<div class="dri_search_features_nav_container dri_clearfix">
				<%= render :partial => 'shared/results_paginator' %>
			</div>
			<!-- close dri_main_content_container -->

			<%= render :partial => 'shared/footer' %>

		</div><!-- close dri_wrapper -->

	</body>

</html>
